* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #f0f4ff, #d9e4ff, #c2d1ff);
  color: #333;
}


#root {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}


.card {
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0 15px 30px rgba(0,0,0,0.1);
  padding: 2rem;
  max-width: 400px;
  width: 100%;
  margin-bottom: 2rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 25px 50px rgba(0,0,0,0.15);
}


h2, h3 {
  text-align: center;
  color: #05010e;
  margin-bottom: 1.5rem;
}


form input,
form select {
  width: 100%;
  padding: 0.75rem 1rem;
  border: 1px solid #ccc;
  border-radius: 0.75rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  transition: all 0.3s ease;
}

form input:focus,
form select:focus {
  border-color: #7c3aed;
  box-shadow: 0 0 10px rgba(124, 58, 237, 0.2);
  outline: none;
}


input[type="radio"] {
  accent-color: #7c3aed;
}


button {
  cursor: pointer;
  font-weight: 600;
  border: none;
  border-radius: 0.75rem;
  padding: 0.75rem 1rem;
  width: 100%;
  font-size: 1rem;
  transition: all 0.3s ease;
}

button[type="submit"] {
  background: linear-gradient(90deg, #0e358a, #240485);
  color: white;
}

button[type="submit"]:hover {
  background: linear-gradient(90deg, #0e0d52, #7c3aed);
  transform: translateY(-2px);
  box-shadow: 0 10px 20px rgba(124, 58, 237, 0.3);
}


.table-card {
  background-color: #a12424;
  border-radius: 1rem;
  box-shadow: 0 15px 30px rgba(0,0,0,0.1);
  padding: 1.5rem;
  max-width: 900px;
  width: 100%;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.95rem;
  text-align: center;
}

thead tr {
  background: linear-gradient(90deg, #f6f7f8, #f5f5f7);
}

th, td {
  padding: 0.75rem 1rem;
  border-bottom: 1px solid #e0e0e0;
}

tr:hover {
  background-color: rgba(196, 181, 253, 0.15);
}


.table-card button {
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  transition: all 0.3s ease;
}

.table-card button:hover {
  transform: translateY(-2px);
}

.edit-btn {
  background-color: #facc15; /* amarillo */
  color: #fff;
}

.edit-btn:hover {
  background-color: #eab308;
}

.delete-btn {
  background-color: #ef4444; /* rojo */
  color: #fff;
}

.delete-btn:hover {
  background-color: #dc2626;
}


@media (max-width: 768px) {
  .card, .table-card {
    padding: 1rem;
  }

  form input, form select, button {
    font-size: 0.9rem;
  }
}
